@import "tailwindcss";

@theme inline {
  --color-darker: #121826;
  --color-dark: #6c727f;
  --color-light: #e5e7eb;
  --color-lighter: #e5e7ebcc;
  --color-lightest: #ffffff;

  --font-sans: "Be Vietnam Pro";
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}
